footer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 6vh;
    color: #d4d4d44d;
    background: linear-gradient(180deg, #36454f 0%, #000000 100%);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-top: auto;
    margin-left: 5px;
    margin-right: 5px; 
    &::before,
    &::after {
        content:'';
        display: inline-block;
        border-top: 1px solid #92c10640;
        width: 4rem;
        margin: 0 .2rem;
    }
}

p {
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: bolder;    
}