header {
    background-color: #36454f;
    /* min-height: 3vmin; */
    margin: 4px;
    border-radius: 5px;
    margin-bottom: 2vmin;
}

h1{
    color: 	#92c006;
    font-size: calc(14px + 2vmin);
}