header {
    background-color: #36454f;
    /* min-height: 3vmin; */

    /* background: rgb(0,118,156);
    background: linear-gradient(0deg, rgba(0,118,156,1) 0%, rgba(54,69,79,1) 100%); */
    margin: 10px;
    border-radius: 5px;
    margin-bottom: 2vmin;
    box-shadow: 4px 4px 6px 2px #232323;
}

h1{
    color: 	#92c006;
    font-size: calc(14px + 2vmin);
}