header {
    /* background-color: #36454f; */
    margin: 10px;
    border-radius: 8px;
    margin-bottom: 2vmin;
    box-shadow: 4px 4px 6px 2px #232323;
    background: linear-gradient(0deg, rgba(28,36,41,1) 0%, rgba(54,69,79,1) 100%);
}

h1{
    color: 	#92c006;
    font-size: calc(14px + 2vmin);
}