.modal {
    background-color: whitesmoke;
    min-height: 8vh;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    border: 3px dashed #9c2600;
}
