.modal {
    position: fixed;
    z-index: 100;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    background-color: whitesmoke;
    min-height: 10vh;
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px dashed#9c2600;
    border-radius: 5px;
    box-shadow: 8px 8px 20px 4px #414141;
    animation: hopIn 300ms ease;
    transition: 500ms;
}

@keyframes hopIn {
    0% {
        top: 100%; 
        opacity: 0;
    }
    100% {
        top: 25%;
        opacity: 1;
    }
}

.modal:hover{
    background-color: rgb(230, 230, 230);
}

.modal-content {
    font-size: calc(6px + 1vmin);
    line-height: 2;
    text-align: start;
    color: darkslategrey;
    margin: 1rem;
}

.modal-line {
    display: flex; 
    justify-content: space-between;
    margin: 2rem;
}

.bolder{
    font-weight: bolder;
    margin-left: 4rem;
}

.longer{
    margin-left: 2rem;
}
