.items {
    background-color: #c0c0c0;
    min-height: 8vh;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    background: #c0c0c0;
    background: linear-gradient(180deg, hsl(0, 0%, 85%) 0%, #c0c0c0 100%);
}