.items {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c0c0c0;
    min-height: 8vh;
    border-radius: 8px;
    width: 80vw;
    background: #c0c0c0;
    background: linear-gradient(180deg, hsl(0, 0%, 85%) 0%, #c0c0c0 100%);
    margin: 5px;
    position: relative;
    cursor: pointer;
    color: darkslategrey;
    font-size: calc(8px + 1.5vmin);
    font-weight: bolder;
    letter-spacing: 1px;
    box-shadow: 2px 2px 5px 1px #232323;
}
  
.remove-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  min-width: 50px;
  min-height: 8vh;
  background: linear-gradient(0deg, rgba(117,117,117,1) 0%, rgba(154,154,154,1) 100%);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.delete {
    width: calc(2rem + 5vmin);
}
  