.summed-time {
    min-height: 6vh;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
}

#total{
    font-size: calc(12px + 1vmin);
    color: slategrey;
    font-weight: 900;
    min-width: calc(50px + 5vmin);
}

#sum {
    font-size: calc(12px + 1vmin);
    color: rgb(95, 107, 120);
    font-weight: 900;
    min-width: calc(80px + 16vmin);
}