.summed-time {
    min-height: 6vh;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
}

#sum {
    font-size: calc(10px + 1vmin);
    color: darkslategrey;
}