.ticket {
    background-color:#6e7f80;
    min-height: 8vh;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 90vw;
    color: white;
    box-shadow: 3px 3px 6px 1px #232323;
}

#task-name {
    border-radius: 5px;
    min-height: 2.5vh;
    min-width: calc(30px + 12vmin);
    margin-left: 1vw;
    background-color: #f0eadc;
    box-shadow: inset 1px 1px 4px 1px #232323;
    font-size: calc(8px + 1vmin);
}
#task-name:focus{
    outline: none;
    color:darkslategray;
    background-color: #e5d9bb;
}

.pickers{
    display: flex;
    flex-direction: row;
}


#start-datepicker,
#end-datepicker {
    border-radius: 5px;
    margin: 5px;
    min-height: 1.5vh;
    min-width: 160px;
    background-color: #f0eadc;
    box-shadow: inset 1px 1px 4px 1px #232323;
}
#start-datepicker:focus,
#end-datepicker:focus {
    outline: none;
    font-weight: bolder;
}

#task-time {
    display: inline;
    padding: 20px;  
}

button {
    margin-right: 40px;
    padding: 0;
    background: none; 
    border: none;
    cursor: pointer; 
}
    
.plus {
    width: calc(2rem + 5vmin);
    height: calc(2rem + 5vmin);
    transition: .5s;
}
      
.plus:hover {
    fill: #0095c6;
    /* fill: #9c2600; */
}