.ticket {
    position: relative;
    background: linear-gradient(0deg, rgba(64,78,79,1) 0%, rgba(110,127,128,1) 100%);    min-height: 8vh;
    margin: 5px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 90vw;
    min-height: 10vh;
    color: white;
    box-shadow: 3px 3px 6px 1px #232323;

    @media screen and (max-width: 900px) {
        overflow-y: unset;
        flex-direction: column;
      }
}


#placeholder {
    border-radius: 8px;
    min-height: 3vh;
    min-width: calc(30px + 12vmin);
    background-color: #f0eadc;
    box-shadow: inset 1px 1px 4px 1px #232323;
    font-size: calc(15px + 0.5vmin);
    margin: 15px 15px;
}
#placeholder:focus{
    outline: none;
    color:darkslategray;
    background-color: #e5d9bb;
}



.pickers{
    display: flex;
    flex-direction: row;
    margin: 10px;   
    @media screen and (max-width: 720px) {
        overflow-y: unset;
        flex-direction: column;
      }
}
#start-datepicker,
#end-datepicker {
    border-radius: 8px;
    min-height: 2vh;
    min-width: 170px;
    background-color: #f0eadc;
    box-shadow: inset 1px 1px 4px 1px #232323;
    margin: 2px;
}
#start-datepicker:focus,
#end-datepicker:focus {
    outline: none;
}



#task-time {
    font-size: calc(10px + 1vw);
    font-weight: bolder;
    color: beige;
    margin-right: 14vw;
    min-width: calc(50px + 10vmin);

    @media screen and (max-width: 900px) {
        margin: auto;
      }
}



#add-task {
    padding: 0;
    background: linear-gradient(0deg, rgba(113,149,5,1) 0%, rgba(146,192,6,1) 100%);
    min-height: 100%; 
    min-width: 60px;
    border: none;
    cursor: pointer; 
    position: absolute;
    right: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
#plus {
    width: calc(2rem + 5vmin);
    transition: .5s;
    margin-right: 10%;
}